/* css样式开始 */
.header{
   width: 100%;
   height: 40px;
   background-color: #333; 
   line-height: 40px;
   color: #b0b0b0;
   font-size: 12px;
}
.wrap{
    width: 1226px;
    /* 居中 */
    margin: 0 auto;
}
.headerLeft{
    float: left;
}
.headerRight{
    float: right;
}
.header li{
    position: relative;
    float: left;
}
.header a{
    color: #b0b0b0;
}
.header a:hover{
    color: white;
}
.header span{
    color: #424242;
    margin: 0 3.6px;
}
/* 购物车 */
.cart{
    /* 购物车与下面的input同时浮动会被盖住 */
    z-index: 857;
    position: relative;
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-color: #424242;
    /* 保证鼠标到cart中都是小手的状态 */
    cursor: pointer;
    /* 鼠标悬停在上面出现的过渡效果 */
    transition: all .2s;
   
}
.cart i{
    margin-right: 4px;
}

.cart:hover{
    background-color: white;
    color: #ff6700;
}
/* 鼠标悬停在cart上的子代a或者后代a的字体颜色
    在前面设计鼠标移动到cart上的不能改变字体的颜色因为a标签自身有 颜色，所以要单独设计

*/
.cart:hover a{
    color: #ff6700;
}
.cart-list{
    position: absolute;
    /* 这个高度就是上面cart的高度 */
    top: 40px;
    /* 左侧跟cart对齐 */
    right:0;
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    /* 字体颜色 */
    color: #424242;
    /* 没有点击cart 的时候隐藏
    display: none; */ 
    /* 鼠标悬停 控制变化过渡 */
    transition: all .3s; 
    /* 前面的height的高度都设置为0，里面的字会溢出所以要 */
    overflow: hidden;
}

.cart:hover>.cart-list{
    /* 鼠标悬停来改边高度 */
    height: 100px;
    line-height: 100px;
    
}

/* 下载app */
.download{
    
    z-index: 800;
    position: absolute;
    /* 相对于li的位置 */
    top: 40px;
    /* 居中的写法 */
    left: 50%;
    /* 62px相对于宽的一半 */
    margin-left:-62px ; 
    width: 124px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px #ccc;
    /* 溢出部分隐藏 */
    overflow: hidden;
    /* 悬停变化 */
    transition: all .3s;
}
.download img{
    width: 90px;
    /* 上为18 下为10 左右为0*/
    margin:18px 0 12px ;

}
.download p{
    color: #333;
    font-size: 14px;
    line-height: 14px;
}
/* 鼠标悬停到下载APP上面这个li有download子代时，弹出内容*/
.headerLeft>li:hover>.download{
    width: 124px;
    height: 148px;
}

/* 绘制三角形 */
.triangle{
    /* 隐藏 */
    display: none;
    /*绝对定位 */
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid white;
    /* 使左右边框透明 transparent  */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.headerLeft>li:hover>.triangle{
    /* 鼠标悬停出现 */
    display: block;
}
/* 头部样式结束 */

/* 导航样式开始 */
.nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.logo{
    width: 62px;
    height:56px;
    /* background-color: red; */
    float: left;
    margin-top: 22px;
}
.search{
    position: relative;
    width: 296px;
    height: 50px;
    /* background-color: pink; */
    float: left;
    margin-top: 25px;
}
.nav-bar{
    width: 868px;
    height: 100px;
    /* background-color: burlywood; */
    float: left;
    /* 内容距左边的距离 */
    padding-left: 172px;
    /*  */
    box-sizing: border-box;

}
.logo img{
    width: 56px;
    /* height不设置，等比缩放 */
}
.logo img:hover{
    /* 鼠标悬停后图片往右走3px */
    transform: translateX(3px);
}

.nav-bar>ul>li{
    float: left;
    padding:38px 10px;
    /* font-size: 16px; */

} 
.nav-bar>ul>li>a:hover{
    color: #ff6700;
}
.search>input{
    float: left;
    width: 245px;
    height: 50px;
    border: 0 10px;
    box-sizing: border-box;
    border:1px solid #e0e0e0;
    /* 去掉右边框，保证与后面a的左边框不叠加为2px */
    border-right: none;
    /* 鼠标点击的时候出现的边框要去掉*/
    outline: none;
    transition: all .2s;
}
.search>a{
    width: 50px;
    height: 50px;
    /* 转换为块级元素 */
    float: left;
    /* 设置边框 */
    border:1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 24px;
    color: #616161;
    /* 设置行高 */
    line-height: 48px;
    /* 鼠标悬停过渡 */
    transition: all .2s;
    
}
.search>a:hover{
    background-color: #ff6700;
}
/* 鼠标悬停到input上边框和a的边框的颜色发生了改变 */
/* 合并选择器的格式是这样的注意注意 .search>input:hover,.search>input:hover+a*/
.search>input:hover,.search>input:hover+a{
    border-color: #b0b0b0;
}
/* 点击的时候 获取焦点 */
.search>input:focus,.search>input:focus+a{
    border-color: #ff6700 ;
}
.search-list{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 800;
    width: 246px;
    height: 241px;
    border: 1px solid #ff6700;
    border-top: none;
    box-sizing: border-box;
    background-color: #fff;
    display: none;
}
/* 获取input后面的后面的兄弟 ---通用兄弟*/
.search>input:focus~.search-list{
    display: block;
}
.search-list>a{
    width: 243px;
    height: 30px;
    padding: 6px 15px;
    display: block;
    box-sizing: border-box;
    color: #424242;
    font-size: 12px;
    /* 水平居左 */
    text-align: left;
}
.search-list>a:hover{
    background-color: #FAFAFA;
}
/* 导航样式开始 */

/* banner样式开始 */
.banner{
    width: 100%;
    height: 456px;
    /* background-color: chartreuse; */
}
.banner-box{
    width: 1226px;
    height: 460px;
    /* background-color: yellow; */
    background-image: url(../img/81efb662f6c196595cd20a32c93978c5.jpeg);
    background-size: 100%;
    animation: banner 20s  infinite;
    animation-fill-mode:forwards;
}
/* 当鼠标悬停的时候停止切换动画 */
.banner-box:hover{
    animation-play-state: paused;
}
@keyframes banner {
    0%{
        background-image: url(../img/81efb662f6c196595cd20a32c93978c5.jpeg); 
    }
    25%{
        background-image: url(../img/8e169482b8cbf7a68daaef1464881446.webp);
    }
    50%{
        background-image: url(../img/e1a326a1a5db9d8be9c5767aab1b08c6.webp);
    }
    75%{
        background-image: url(../img/74a51ccb0237755ef3ad7021a6e6d43c.webp);
    }
    100%{
        background-image: url(../img/90495f43f9a067b47b36c07d0bd2b4ff.webp);
    }

}
.banner>.wrap{
    position: relative;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0;
    width: 234px;
    height: 420px;
    background-color: rgba(105,101,101,.6);
    padding: 20px 0;

    
}
.slide>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    /* 使用padding-left的原因，方便鼠标悬停背景颜色都有 */
    padding-left: 30px;
}
.slide>ul>li:hover{
    background-color: #ff6700;
}
.slide>ul>li>a{
    color: #fff;
    font-size: 14px;
}
.slide i{
    float: right;
    margin-right: 20px;
}
.slide-list{
    z-index: 700;
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 456px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    padding-top: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
}
.slide-list1{
    width: 795px;
}
.slide-list2{
    width: 520px;
}
.slide li:hover >.slide-list{
    display: block;
}
.slide-list ul{
    width: 248px;
    float: left;
}
.slide-list li{
    width: 100%;
    height: 76px;
    /* background-color: coral; */
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
}
.slide-list img{
    padding-left: 15px;
    width: 40px;
}
.search-list span{
    line-height: 40px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide-list li:hover span{
    color: #ff6700;
}
/* 左右箭头 */
.prev,.next{
    position: absolute;
    top: 50%;
    margin: -34.5px;
    width: 41px;
    height: 69px;
    /* background-color: #ff6700; */
    /* 这个插入的图片是雪碧图 只要插入一次，调整图片的位置即可显示不同状态下的图标 */
    background-image:url(../img/icon-slides.png);
    /* 可点击的状态 */
    cursor: pointer;
   
}
.prev{
    left: 268px;
    background-position: -83px;
}
.next{
    right: 35px;
    background-position: -124px;
}
.prev:hover{
    background-position: 0;
}
.next:hover{
    background-position: -42px;
}
/* banner样式结束 */


/* 广告样式开始 */
.adv{
    width: 100%;
    height: 170px;
    margin: 14px 0 26px;
}
.adv-aside{
    width: 234px;
    height: 170px;
    padding: 3px;
    box-sizing: border-box;
    background-color: #5f5750;
    float: left;
}
.adv-img{
    width: 316px;
    height: 170px;
    /* background-color: yellowgreen; */
    float: left;
    margin-left: 14.66px;
}
.adv-img img{
    width: 100%;
   
}
.adv-img:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
}
.adv-aside li{
    width: 76px;
    height: 82px;
    float: left;
    padding: 19px 0;
    box-sizing: border-box;
}
.adv-aside i{
    /* 行内元素设置高度不生效，需要 display: block; */
    display: block;
    font-size: 22px;
    margin-bottom:4px;

}
.adv-aside a{
    /* 当行内元素转换为块级元素出现问题就把它也转换为块级元素 */
    display:block;
    color: #fff;
    opacity: .7;
    font-size: 12px;
    transition: all .2s;
}
.adv-aside a:hover{
    opacity: 1;
}
/* 广告样式结束 */



/* 主体样式开始 */

/* 手机样式开始 */
.container{
    width: 100%;
    background-color: #f5f5f5;
    padding: 4px 0px  12px;
}
.container a img{
    width: 1226px;
    height: 120px;
    
}
.phone{
    width:100%;
    height: 672px;
    
}
.phone-header{
    width: 100%;
    height: 14px;
    margin: 22px 0 0;
}

.title{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;

}
.more a{
    font-size: 16px;
    line-height: 58px;
    float: right;
}
.more a:hover{
    color: #ff6700;
    /* background-color: #ff6700; */
}
.phone-container{
    width: 100%;
    height: 614px;
    float: left;
}
.phone-left{
    width: 234px;
    /* height: 614px; */
    background-color: #fff;
    float: left;
}
.phone-left:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}
.phone-left a>img{
    width: 234px;
    height: 614px;
    float: left;
}
.phone-right{
    width: 992px;
    height: 614px;
    float: right;
}

.phone-right-container{
    width: 234px;
    height: 300px;
    background-color: white;
    margin:0 0 14px 14px;
    float: left;
}
.phone-right-container:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}

.phone-right-container a>img{
    width: 160px;
    height: 160px;
    margin: 15px 0;
}
.phone-right-container a>h2{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.point{
    font-size: 12px;
    height: 20px;
    color: #b0b0b0;
    margin-bottom: 10px;
}
.price{
    margin: 10px 0;
    text-align: center;
    color: #ff6700;
    
}
/* 手机样式结束 */


/* 穿戴样式开始 */
.chuandai{
    width: 100%;
    height: 672px;
}
.chuandai-header{
    width: 100%;
    height: 14px;
    margin: 22px 0 0;
}
.chuandai-list{
    width: 124px;
    height: 42px;
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
    float: right;
}
.hot{
    width: 32px;
    height: 26px;
    line-height:26px ;
    float: right;
    /* background-color: #333; */
}
.weather{
    width: 32px;
    height: 26px;
    line-height: 26px;
    float: right;
    margin-left:30px ;
}
/* 关于伪类的书写还有问题 */
/* .weather:focus{
    color: #ff6700;
    text-decoration: solid #ff6700;
} */

.chuandai-container{
    width: 100%;
    height: 614px;
    float: left;
}
.chuandai-container-left{
    width: 234px;
    /* height: 614px; */
    background-color: #fff;
    float: left;
}
.chuandai-container-left:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}
.chuandai-container-left a>img{
    width: 234px;
    height: 614px;
    float: left;
}
.chuandai-container-right{
    width: 234px;
    height: 300px;
    background-color: white;
    margin:0 0 14px 14px;
    float: left;
}
.chuandai-container-right:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}

.chuandai-container-right a>img{
    width: 160px;
    height: 160px;
    margin: 15px 0;
}
.chuandai-container-right a>h2{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.oldPrice{
    color: #b0b0b0;
    margin-left: 10px;
    margin-top: 15px;
}
.all-more{
    width: 234px;
    height: 143px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
    margin-top: 14px;
}
.all-more:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}
.all-more .more{
    display: block;
    padding-top: 49px;
    padding-left: 30px;
    /* margin: 0 110px 0 30px; */
    width: 94px;
    height: 45px; 
    font-size: 18px;
    color: #333;
    text-align: left;
    float: left;
    
}
  

.small{
    display: block;
    font-size: 12px;
    color: #757575;
    text-align: left;
    
}
.all-more>a>span>img{
    width: 73px;
    height: 70px;
    float: left;
    padding-top: 30px;   
}

/* 穿戴样式结束 */

/* 笔记本平板样式开始 */
.book{
    width: 100%;
    height: 672px;
}
.book-header{
    width: 100%;
    height: 14px;
    margin: 22px 0 0;
}
.book-header .hot{
    font-size: 16px;
    line-height: 14px;
    float: right;
    color: #ff6700;
    padding-top: 15px;
    border-bottom: solid #ff6700;
}

.book-container{
    width: 100%;
    height: 614px;
    float: left;
}
.book-container-left{
    width: 234px;
    /* height: 614px; */
    background-color: #fff;
    float: left;
}
.book-container-left:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}
.book-container-left a>img{
    width: 234px;
    height: 614px;
    float: left;
}
.book-container-right{
    width: 234px;
    height: 300px;
    background-color: white;
    margin:0 0 14px 14px;
    float: left;
}
.book-container-right:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}

.book-container-right a>img{
    width: 160px;
    height: 160px;
    margin: 15px 0;
}
.book-container-right a>h2{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.book-container-right-more>a>span>img{
    width: 73px;
    height: 70px;
    float: left;
    padding-top: 30px;   
}

.book-container-right-small{
    width: 234px;
    height: 143px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
}
.book-container-right-small:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(-3px);
}
.book-container-right-small .small{
    width: 94px;
    height: 42px;
    margin: 38px 0 0 27px;
    float: left;  
}
.book-container-right-small .small>h3{
    /* background-color: #333; */
    color: #333;
    font-size:14px ;
    font-weight: 400;  
}
.book-container-right-small .small>span{
    float: left;
    margin-top: 10px;
}

.book-container-right-small>a>span>img{
    width: 80px;
    height: 80px;
    float: left;
    padding-top: 30px;   
}
/* 笔记本平板样式结束 */
/* 主体样式结束 */